alias ls='ls -aGF'
alias ll='ls -lash'
alias mysql='/usr/local/mysql/bin/mysql'
alias mysqladmin='/usr/local/mysql/bin/mysqladmin'
alias rmdsstores='find . -name *.DS_Store -type f -exec rm {} \;'
alias mkvirtenv='virtualenv --no-site-packages --distribute'
alias sshrf='ssh ubuntu@ec2-50-18-75-105.us-west-1.compute.amazonaws.com'
alias rmpyc='find . -name "*.pyc" -exec rm -rf {} \;'
alias rmqstat='HOSTNAME=localhost sudo /Users/mgile/dev/rabbitmq_server-2.4.1/sbin/rabbitmqctl list_queues'
alias rmqctl='HOSTNAME=localhost sudo /Users/mgile/dev/rabbitmq_server-2.4.1/sbin/rabbitmqctl'
alias sshdl='ssh ubuntu@ec2-50-18-90-124.us-west-1.compute.amazonaws.com'
alias sshrfpg='ssh ubuntu@ec2-50-18-79-56.us-west-1.compute.amazonaws.com'
alias mvnDebug='MAVEN_OPTS="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=8000" mvn -Pjetty-run'
alias mvnTestDebug='MAVEN_OPTS="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,address=8000" mvn -e test'
alias ppjson='python -mjson.tool'
alias chromenosec='open -a /Applications/Google\ Chrome.app --args --disable-web-security'
alias emdbg='/Applications/Emacs.app/Contents/MacOS/Emacs --debug-init'
alias em='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient --no-wait'
alias emn='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -c --no-wait'
alias emd='/Applications/Emacs.app/Contents/MacOS/Emacs --daemon'
alias emdkill='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -enc "(save-buffers-kill-emacs)"'
alias xcn='renice 10 -p '
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias jvmopts='java -XX:+UnlockDiagnosticVMOptions -XX:+PrintFlagsFinal -version'
alias ws='open /Applications/Utilities/XQuartz.app; sleep 2; export DISPLAY=:0; /Applications/Wireshark.app/Contents/MacOS/Wireshark'
alias oam-ec2='ssh -i ~/.ssh/mgile-symplified-aws.pem ec2-user@23.21.132.192'
